$fondoHeader: linear-gradient(to right, white 60%, #7c4390);
$colorPrincipal: #7c4390;
$sombraPrincipal: #d8a4eb;
$colorSecundario: #298983;
$sombraSecundario: #176d67;
$blanco: #ffffff;
$negro: #000000;
$gris: #cccccc;