%formatoTablas {
    border-collapse: collapse;

    th {
        border: 1px solid $negro;
        padding: 10px;
        background-color: $colorPrincipal;
    }
    td {
        border: 1px solid $gris;
        padding: 10px;
    }
}

