.contenedor {
    .contenido {
        .migas {
            display: flex;
            justify-content: center;
        
            nav {
                .breadcrumb{
                    li {
                        a {
                            text-decoration: none;
                            color: $colorSecundario;
                        }
                    }
                    .breadcrumb-item {
                            color: $colorPrincipal;
                    }
                }
            }
        }
    }
}