.contenedor {
    .contenido {
        .contenidoTraslados {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            gap: 10px;

            .transporte {
                width: 45%;
                padding: 10px;
                flex-grow: 1;

                .boton {
                    a {
                        width: 100%;
                    }
                    .btn-outline-success {
                        --bs-btn-color: $negro;
                    }
                }
            }
            img {
                width: 100%;
                padding-top: 10px;
                
            }
            h2 {
                text-align: center;
            }
            p {
                padding-top: 5px;
                text-align: justify;
            }
        }
    }
}
