.contenedor {
    .contenido {
        .contenidoTraslados {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            gap: 10px;

            .transporte {
                width: 45%;
                padding: 10px;
                flex-grow: 1;

                .boton {
                    border-radius: 5px;
                    a {
                        width: 100%;

                        &:hover {
                            background-color: $colorSecundario;
                            color: $blanco;
                        }
                    }
                    .btn-outline-success {
                        --bs-btn-color: $negro;
                    }
                    &:hover {
                        background-color: $colorSecundario;
                        color: $blanco;
                    }
                }
            }
            img {
                width: 100%;
                border-radius: 10px;
                box-shadow: 10px 10px 10px $colorSecundario;
                
            }
            h2 {
                text-align: center;
                padding-bottom: 10px;
            }
            p {
                padding-top: 10px;
                text-align: justify;
            }
        }
    }
}
