.contenedor {
    .contenido {
        .contenidoTours {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            gap: 20px;
            .tours {
                width: 300px;
                border: 2px solid $gris;
                border-radius: 10px;
                flex-grow: 1;

            }
            .toursInvierno {
                @include temporada($invierno);
            }
            .toursPrimavera {
                @include temporada($primavera);
            }
            .toursVerano {
                @include temporada($verano);
            }
            .toursAventura {
                @include temporada($aventura);
            }

        }
    }
}
