.contenedor {
    .footer { 
        grid-area: footer;
        border-top: 2px solid $colorPrincipal;   
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center; 
        height: 40px; 
        
        .redes-sociales, .nosotros, .ayuda {
            h4 {
                text-align: center;
            }
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $colorPrincipal;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            svg {
                color: $colorSecundario;
            }
        }
        .ubicacion {
            a {
                img {
                    width: 150px;
                }
            }
            p {
                color: $colorPrincipal;
            }
        }


    }
}       
