.contenedor {

    .header { 
        grid-area: header;
        background-image: $fondoHeader;
        border-bottom:1px solid $colorPrincipal;

        .navbar-brand {
            img{
                width: 80px;
                border-radius: 20px;
            }
        }

        a {
            color: $negro;

            &:hover {
                color: $colorSecundario;
                text-shadow: 1px 1px 1px $sombraSecundario;
            }
        }
    }

}