.contenedor {
    .contenido {
        .Institucionalidad {
            width: 100%;
            padding: 10px;
            border: 2px solid $colorPrincipal;
            border-top: none;

            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
            .politicas {
                p {
                    text-align: justify;
                    padding-bottom: 2px;
                }
            }
            .terminos {
                p {
                    text-align: justify;
                    padding-bottom: 2px;
                }
            }
        }    
    }
}