// para trabajar pantalla version tablet

@media screen and (max-width: 768px) {

}

// para trabajar pantalla version movil 

@media screen and (max-width: 576px) {
    .contenedor {
        .contenido {
            .contenidoTraslados {
                display: flex;
                flex-flow: column;

                .transporte {
                    width: 100%;
                }
            }
        }    
    }

}